body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background-color: rgb(33, 33, 54);
    
}

#container {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
}

#menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: left;
    width: 50%;
}

#menu li {
    list-style-type: none;
    font-weight: bold;
    padding: 0.8em;
    cursor: pointer;

}

#menu li:hover {
    background-color: rgb(22, 22, 36);
}

#resz {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.tartalom h3 {
    text-align: center;
}

.tartalom img {
    width: 150px;

}

.tartalom {
    text-align: center;
}

.tartalom ul {
    text-align: left;
}

#folyamat {
    text-align: left;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    text-align: left;
    margin-top: 10em;
}


#folyamat h1{
    text-align: left;
    margin: 0;
    border-bottom: 1px solid red;
}

#folyamat img {
    display: block;
    margin: auto;
    
}

#sales{
    padding-top: 10em;
    text-align: center;
}

#sales h1{
    border-bottom: 1px solid red;
    width: 8em;
    margin: auto;
}

#sales p{
    width: 40%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

#kollegak{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    margin-bottom: 20em;
}

#kollegak img{
    width: 200px;
    border-radius: 50%;
    width: 50%;
    padding-bottom: 2em; 
}

#kollegak h3{
    font-weight: 100;
    font-style: italic;
}

#kollegak button{
    background-color: rgb(56, 133, 248);
    color: white;
    height: 2.5em;
    width: 80%;
    border: 0;
    border-radius: 3%;
    font-size: 0.5em;
    padding: 2em;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    line-height: 0.5em;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {

    #menu {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        width: 100%;
    }

    #container {
        width: 100%;
        margin: auto;
    }

    #resz {
        display: grid;
        grid-template-columns: 1fr;

    }
    #folyamat{
        grid-template-columns: 1fr;
        
    }
    
    #folyamat{
        grid-template-columns: 1fr;
    }

    #folyamat img{
        max-width: 300px
    }

    #kollegak{
        grid-template-columns: 1fr;
    }

    #kollegak button{
        margin-bottom: 2em;
        
    }

}